pipeline/WebActivityDemo.json
{
	"name": "WebActivityDemo",
	"properties": {
		"activities": [
			{
				"name": "Web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://jsonplaceholder.typicode.com/posts/1"
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "title",
					"value": {
						"value": "@activity('Web').output.title",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"title": {
				"type": "String"
			}
		},
		"annotations": []
	}
}